.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 5px 24px;
    border: none;
    width: 100%;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.secondary {
    color: #0066CC;
    border: 1px solid #0066CC;
    background-color: #FFFFFF;
}


.default {
    color: #FFFFFF;
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
    opacity: 0.8;
}

.red:hover {
    opacity: 0.8;
}

.secondary:hover {
    opacity: 0.8;
}


.default:active {
    color: #FFFFFF;
}

.secondary:active {
    background-color: dodgerblue;
    color: #0059b3;
}

.red:active {
    background-color: darkred;
    color: #FFFFFF;
}

.button:disabled {
    color: grey;
    background-color: steelblue ;
}
